
# folders
data/
results/
test_results

# python stf
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# virtual environments
venv/
env/
.env/
.venv/
ENV/
*.env
.conda/
# ignore packaging stuff
*.egg-info/
*.egg
dist/
build/

# notebooks
.ipynb_checkpoints/
*.nbconvert.ipynb

# tmp files
tmp/
.cache/
__cache__/
*.tmp
*.bak

